<form class="form" [formGroup]="managerform" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="exampleInputEmail1">Manager</label>
    <input type="text" class="form-control" formControlName="name" placeholder="Enter manager" required>
  </div>
  <button type="submit" class="btn btn-light">submit</button>
  <button type="button" class="btn btn-light">edit</button>
</form>


<div style="width:50%;">
  <div class="row">
    <div class="col-sm-6" style="background-color:Gray;">Manager</div>
    <div class="col-sm-6" style="background-color:Gray;">Actions</div>
  </div>
  <div class="row">
    <div class="col-sm-6">Manager</div>
    <div class="col-sm-6" >Actions</div>
  </div>
</div>
